<div class="menu">
    <div class="menu-list">
        <ul>
            <li>LEARN</li>
            <li>BLOG</li>
            <li>BOOKSMARKS</li>
            <li>UI KIT</li>
            <li>LAIN NYA</li>
        </ul>
    </div>
    <div class="menu-social">
        <ul>
            <li>
                <a href=""> twit  </a>
            </li>
            <li>
                <a href="">   inst  </a>
            </li>
            <li>
                <a href="">   dribb  </a>
            </li>
            <li>
                <a href="">  asdd   </a>
            </li>
        </ul>
    </div>
</div>