<div class="menu-bar-left">
<ul>
    <li><img src="https://media.istockphoto.com/id/1202490554/vector/person-gray-photo-placeholder-man.jpg?s=612x612&w=0&k=20&c=KyXtDhRIFdY-xFnyc_19UEK0pY3PLz2R6Bpv--VPYwo=" ></li>
    <li> LEARN </li>
    <li> BLOG </li>
    <li> BOOKMARKS </li>
    <li> UI KIT </li>
    <li> LAIN NYA </li>
</ul>
</div>

<div class="menu-bar-right">
<img src="./assets/twitter.png" alt="Twitter" >
<img src="./assets/insta-logo.png" alt="Instagram">
<img src="./assets/dribbble-logo.png" alt="Dribbble">
</div>
