.container__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__cover > img {
    width: 400px;
    height: 350px;
}

.content__description > p {
    margin-top: 3rem;
    color: #464646;
    margin: 2rem;
}