<div class="container__small-card">
    <div class="container__small-card-cont">
        <div class="small-card__photo">
            <img src="https://static.euronews.com/articles/stories/07/89/10/06/773x435_cmsv2_5ab0bdff-4d53-5214-9f7d-278df8301205-7891006.jpg" 
            alt=""
            >
            </div>
            <div class="small-card__content">
                <div class="small-card__date">
                    <span> January 11, 2023</span>
                </div>
                <div class="small-card__description">
                    New iPhone 15 with better cameras, faster chips and USB-C chargers unveiled
                </div>
            </div>
    </div>
  
    <hr>
    
</div>
