<div class="conteiner__big-card">
    <img src="https://images.unsplash.com/photo-1516656690944-e76698b2aa38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGRhcmslMjBjb2xvcnN8ZW58MHx8MHx8fDA%3D&w=1000&q=80" alt="">
    <div class="content">
        <span> January 11, 2023</span>
        <h1> Forget A New MacBook Pro, Apple Has Something Much Better</h1>
        <p> Apple is expected to delay the launch of the new M3-powered MacBook Pro and 
            MacBook Air. For months, a mid-October release has been on the cards and macOS 
            fans were preparing to upgrade their laptops. With the laptops held back to 2024, what options are left for those needing to take the next step?</p>
    </div>
</div>