.conteiner__home{
    border: solid white 2px;
    width: 90%;
    margin: auto;
    padding-top: 40px;
    text-decoration: none; 
    flex-wrap: wrap; 
}


.cards_games {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
  

}

.cards_games-game{
    margin: .8rem;
    transition: transform 0.8s;
    border: red;
    

}

.cards_games-game:hover{
    transform: scale(1.04);
}
