
<div class="conteiner__home">

    <ul class="cards_games">
    
        <li class="cards_games-game">
        <app-cards></app-cards>
        </li>
        <li class="cards_games-game">
            <app-cards></app-cards>
        </li>
        <li class="cards_games-game">
            <app-cards></app-cards>
            </li>
            <li class="cards_games-game">
                <app-cards></app-cards>
            </li>
            <li class="cards_games-game">
                <app-cards></app-cards>
            </li>
            <li class="cards_games-game">
                <app-cards></app-cards>
                </li>
                <li class="cards_games-game">
                    <app-cards></app-cards>
                </li>
    
    </ul>    

</div>