/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light;
  }

@media screen and (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #183D3D;
    }
  }


@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: #040D12;
        color: #93B1A6;
        
    }
  }



/*Color Pallete: https://colorhunt.co/palette/040d12183d3d5c837493b1a6

DarkMode:
    Background: #040D12
    primary-color: #93B1A6
    secondary-color: 5C8374

LightMode:
    Background: #FFFFFFF
    Primary-color: #183D3D
    Secondary-color: #5C8374

*/